* {
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    background: #00aaff;
    color: #111;
    border: 3px ridge white;
    min-height: 100vh;
  }
  
  main {
    max-width: 900px;
    margin: auto;
    padding: 1.5rem;
    border: 3px groove rgb(255, 0, 230);
    border-radius: 5%;
    background: #ffffff;
    text-align: center;
    min-height: 100vh;
    
  }
  
  h1 {
    font-family: cursive;
    font-size: 3rem;
    color: rgb(211, 247, 10);
    border: 1px solid rgb(0, 0, 0);

  }
  h2 {
    font-family: 'arial';
    font-size: 2rem;
    color: rgb(0, 0, 0);

  }
  .intro p {
    color: #444;
  }
  
  form textarea {
    width: 100%;
    min-height: 140px;
    padding: 1rem;
    font-size: 1rem;
    margin-bottom: 1rem;
  }
  
  details summary {
    cursor: pointer;
    color: #666;
    margin-bottom: 0.5rem;
  }
  
  details input {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
  }
  
  button {
    width: 80%;
    padding: 0.75rem;
    background-color: rgb(255, 0, 255);
    color: rgb(0, 255, 213);
    border: dotted rgb(246, 255, 0);
    font-size: 3rem;
    cursor: pointer;
   
  }
  
  
  .note {
    font-size: 0.75rem;
    color: #666;
    margin-top: 0.5rem;
  }
  
  .message {
    border-top: 1px solid #ddd;
    padding: 0.75rem 0;
  }
  
  .message p {
    margin: 0 0 0.25rem;
  }
  
  .message small {
    color: rgb(225, 0, 255);
  }
  @font-face {
    font-family: 'Sega';
    src: url(SegaArcadeFont-Regular.ttf);
  }
